*{
    padding: 0;
    margin: 0;
}
.head{
    background-image: url('./images/banner/banner3.png');
    background-position: center;
    background-size: cover;
    /* height: 100vh; ata lagbe na */
    display: flex;
    justify-content: right;
}
.links{
    text-decoration: none;
}
.First-section{
    text-align: right;
    padding: 216px;
    width: 525px;
    
}
.header-title{
    font-size: 65px;
    color: white;
    font-weight: 700;
}
.header-discription{
    color: white;
    margin-top: 24px;
}
.header-btn{
    padding: 20px 25px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    margin-top: 32px;
    color: #005FAC;
    font-weight: 700;
}

/* My failures of previous year desgin  */
main{
    width: 80%;
    margin: 0 auto;
}

.mainsection-contanier{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    margin: 136px auto;
}

.section-one-photo{
    width: 451px;
}

.mainarticle-one{
    padding-right: 200px;
}
.mainarticle-one-title{
    font-size:"40";
    font-weight:"700";
    color: #151414;
    margin-bottom: 24px;
}
.mainarticle-one-discription{
    color: #444343;
}
.mainarticle-one ul{
    list-style-type: none;
    margin-top: 16px;
    color: #444343;
}

/* main section two design */

.sectionTwo-contariner{
    padding-bottom: 100px;
}
.two-titel{
    margin-bottom: 50px;
    text-align: center;
}
.two-skills-contrainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    text-align: center;
}
.skills-discrip{
    color: #737272;
    padding-top: 8px;
}


two-skills-contrainer{
    display: flex;
    flex-direction: column;

}

/* programming hero sir solution */
/* .contariner-photo{
    background: url('./images/gradient1.png'),url('./images/watch.png');
    height:318px;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.header-btn{
    margin-bottom: 60px;
}
.photo-te{
    margin-top: 64px;
} */

/* programming hero sir solution end  */

.last-photo{
    background: url('./images/watch.png');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    height: 301px;
}
.last-photo-gradient{
    background: linear-gradient(to right, #005FAC, #73727221);
    height: 301px;
}

.last-photo-title{
    padding: 60px 0 24px 60px;
    font-size: 40px;
    color: #fff;
}
.last-photo-btn{
    margin-left: 60px;
}
/* last photo section end *

/* foooter work start */
footer{
    background-color: #151414;
    margin-top: 100px;
}

.footer-container{
    display: flex;
    gap: 100px;
    padding: 100px 200px;
}

.footerpart-one{
    width: 50%;
}

.footerpart-one,  .footer-btn, .mailtext, .parttwo-title {
    display: block;
    width: 80%;
}

.partone-title, .partone-discription, .partone-email, .partone-phone {
    color: #fff;
    padding-bottom: 24px;
}
.partone-title{
    font-size: 40px;
}

.footer-photo{
    padding-right: 20px;
}

.parttwo-title{
    color: #fff;
    font: 20px;
    padding-bottom: 30px;
}
.mailtext{
    padding: 24px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
}

/* footer part end */